<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccessKeyId" value="" />
    <add key="AccessSecret" value="" />
    <add key="RegionId" value="cn-hongkong" />
    <add key="InstanceName" value="shadowsocks-server" />
    <add key="LaunchTemplateName" value="shadowsocks" />
    <add key="DomainRecordId" value="" />
    <add key="DomainRecordRR" value="" />
  </appSettings>
</configuration>
